<html>

<head>
    <title>Result page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div style="display: block; position: absolute; margin-left: 15%; margin-top: 10%;">
            <h2>You have selected {{intVal}} as your decimal number</h2>
            <p>Please check the LED array to see the binary representation.</p>

            <form action="/">
                <input type="submit" action="/" value="Go Back" class="btn btn-primary" />
            </form>
        </div>
    </div>
</body>

</html>